<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Doggo</title>
</head>
<body>
    <h1>Dogs App</h1>

    <span id="error"></span>

    <section id="randomDogs">
        <h2>Aleatory Dogs</h2>

        <article>
            <img id="img1" alt="An aleatory dog" width="300px">
            <button id="btn1" onclick="saveFavouritesDogs()">
                Save dog in favorites
            </button>
        </article>
        <article>
            <img id="img2" alt="An aleatory dog" width="300px">
            <button id="btn2" onclick="saveFavouritesDogs()">
                Save dog in favorites
            </button>
        </article>
    

        <button onclick="loadRandomDogs()" >Refresh</button>
    </section>

    <section id="favoritesDogs">
        <h2>Favorites Dogs</h2>
        <img  alt="An aleatory dog" width="300px">
        <button >Get out dog of favorites</button>
    </section>


    <script src="./main.js"></script>
</body>
</html>