@import url(./general.css);

header {
    width: 100%;
    height: 350px;
    display: grid;
    background-image: url(../assets/coverBanner.jpg);
    /* filter: blur(1px) brightness(68%);
    -webkit-filter: blur(1px) brightness(68%);
    -moz-filter: blur(1px) brightness(68%); */
    background-size: cover;
    background-attachment: center;
    background-repeat: no-repeat;
}

/* .header__banner {
    
} */

.header__content {
    width: 100%;
    height: inherit;
    display: grid;
}

.header__content h1,p {
    place-self: center;
    color: var(--textTitles);
    font-family: 'Noto Sans', sans-serif;
}

.header__content h1 {
    display: block;
    font-size: 40px;
    padding-left: 25px;
}

.header__content p {
    align-self: flex-start;
   
}



.header__logo {
    justify-self: end;
    position:absolute;
    margin: 20px 30px 0 0;
    /* left: 0;
    top: 50%; */
    width: 40px;
    height: 40px;
}